<style>
html {padding-top: 100px;}
#header {height: 100px;}
#menu {font-size: 14px; line-height: 20px; height: 20px; color: white; position: fixed; top: 80px; width: 100%;}
#menu ul {display: block; width: 640px; background: transparent; color: white; margin: 0 auto; padding: 0; text-align: left;}
#menu li {display: inline-block; padding: 0 2px; min-width: 5em; text-transform: uppercase; cursor: pointer;}
#menu li:hover {background: rgba(0, 0, 255, .15);}
#menu li a {color: inherit; text-decoration: none;}
#menu li a.here {text-shadow: 0 0 8px white; cursor: default;}
#menu li a.here:hover {background: transparent;}
</style>
<div id="menu">
<ul>
  <li><a href="/" title="The 8th Cup">Home</a></li>
  <li><a href="/about" title="About this site">About</a></li>
  <li><a href="/contact" title="Contact information">Contact</a></li>
</ul>
</div>
<script>
(function () {
  var aa = document.getElementById('menu').getElementsByTagName('A')
  for (let i = 0; i < aa.length; ++i) {
    let a = aa[i], u = location.pathname.replace(/\//g, '')
    if (a.getAttribute('href').replace(/\//g, '') == u) a.className = 'here'
    }
  })()
</script>
