<style>
  #content p.profileform {margin-left: 2em;}
  #profile {margin: 1ex 1em 1ex 0; padding-left: 0; border: 1px solid #aaa; border-left: 1px solid #eee;}
  #gotoprofile {padding: 4px 8px; background: #cfc; border: 1px solid #4a4; border-radius: 4px;}
</style>
<p class="profileform">Name:
@<input id="profile">
<button id="gotoprofile" onclick="gotoprofile(this)">Go to profile</button>
</p>
<script>
gotoprofile = function (btn) {
  var v = btn.previousElementSibling.value.trim()
  if (v.charAt(0) == '@') v = v.substr(1)
  v = v.trim()
  location.href = 'https://www.7cups.com/@' + v
  }
document.getElementById('profile').addEventListener('keydown', function (evt) {
  if (evt.keyCode != 13) return
  var b = evt.target.nextElementSibling
  b.focus()
  b.click()
  })
</script>
