<style>
#rand-mail, #rand-pass {font-family: monospace; width: 40ch;}
</style>
<table><tbody>
<tr><td>e-Mail address:</td><td><input id="rand-mail" disabled/></td></tr>
<tr><td>Password:</td><td><input id="rand-pass" disabled/></td></tr>
</tbody></table>
<script>
var r = ''
for (var i = 0; i < 32; ++i) r += String.fromCharCode(Math.floor(254 * Math.random()))
document.getElementById("rand-mail").value = btoa(r).substr(0, 12) + '@chammy.info'
document.getElementById("rand-pass").value = btoa(r).substr(16, 16)
</script>
