@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
body {font-family: Raleway,Tahoma,"Helvetica Neue", Helvetica, Arial, sans-serif;}
.page-header {
  background: #159957 linear-gradient(to right, #1e90fe 0%, #73ccde 100%);
  padding: 0 80px;
  height: 54px;
  line-height: 50px;
  position: relative;
  }
.moon {display: block; position: absolute; top: 11px; right: 12px;}
.moon img {width: 32px; height: 32px; border-radius: 2px;}
h1 {
  font-family: "Raleway Thin",Tahoma,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  }
footer {
  height: 54px;
  background: #2f4e7a linear-gradient(top, #2f4e7a 0%, #181a30 100%);
  }
