---
---
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/assets/manifest.json">
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicon.ico">
<meta name="msapplication-config" content="/assets/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<title>{{ page.title }} | Chat</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,600">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
{% include chat.css %}
</style>
<script>
{% include chathint.js %}
{% include chat.js %}
</script>
</head>
<body class="{{ page.class }}">
<div id="header"><span>{% if page.class == 'index' %}Fictional chats{% else %}A fictional chat{% endif %}</span><h2>{{ page.title }}</h2>
<p onmouseover="this.hidden = true" style="border:  1px solid #a00; margin:  0 auto; background: white; width:  20em; color:  #a00; box-shadow: #444 0 0 14px;">These pages are no longer maintained.<br>Some information might be obsolete.</p>
</div>
<div id="content">
{{ content }}
</div>

<div id="message">
<textarea id="msgtext" readonly="true"></textarea>
<div id="send" title="Send the message" disabled="true"><i class="fa fa-2x fa-send"></i></div>
<div id="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
</div>

<div id="footer">
<div id="footer-content">
<div id="version">{{ layout.version }}</div>
<div id="footer-menu">
{% comment %}
<a href="/" title="8th Cup home page">The 8th Cup</a>
&nbsp;&bull;&nbsp;
<a href="/chat/" title="Index of chats">Chat Index</a>
&nbsp;&bull;&nbsp;
{% endcomment %}
<a href="https://www.7cups.com/@RarelyCharlie" title="Send feedback. (7 Cups login required.)">Feedback</a>
</div>
</div>
</div>
</body>
</html>
