---
version: 1
---
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/assets/manifest.json">
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicon.ico">
<meta name="msapplication-config" content="/assets/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{% include cuddle.min.css %}
</style>
<script>
{% include cuddle.min.js %}
</script>
</head>
<body onload="init()" onkeyup="escape()">
<div id="header"><span>Burt&apos;s</span><h2>Cuddle Button</h2></div>
<div id="content">

<div class="page" id="page0">
<p><strong>Send a virtual cuddle to anyone at 7 Cups.</strong></p>
<p>Please enter your 7 Cups user name:<br/>
@<input type="text" class="username" id="fromname" onkeypress="restrict()" onkeyup="proceed(this)" onfocus="keepfocus()" autofocus="true" spellcheck="false"/>
<br/><label class="remember" for="rem0" title="Remember your name in this web browser"><input type="checkbox" checked="true" id="rem0" onclick="remclick(this)"> Remember me</label></p>
<p>…and who the cuddle is for:<br/>
@<input type="text" class="username" id="toname" onkeypress="restrict()" onkeyup="proceed(this)" onfocus="keepfocus()" spellcheck="false"/>
</p>

<div id="button" class="disabled">
<p >Now press the Cuddle button:</p>
<button id="cuddle" disabled="true" onclick="cuddle()">Cuddle!</button>
</div>
</div>

<div class="page" id="page1">
<img id="art1" src="/assets/Burt.jpg" title="Burt, a wise old bear">
<div id="progress1"><div id="progbar1"></div></div>
<p id="label1">Preparing cuddle for <span id="sendto0"></span>. Please wait...</p>
<p id="done1"><strong>Cuddle ready!</strong><br/>Please send <a id="sendto1" href="#"></a> this link:<br/>
<span id="sendlink" class="link" onclick="copylink(this)"></span><br/>
(Click it to copy it.)<br/>
To send a new cuddle, click <a href="/cuddle">here</a>.</p>
</div>

<div class="page" id="page2">
<p><strong>Receive your virtual cuddle here!</strong></p>
<p>Please enter your 7 Cups user name:<br/>
@<input type="text" class="username" id="recname" onkeypress="restrict()" onkeyup="proceed(this)" onfocus="keepfocus()" spellcheck="false"/>
<br/><label class="remember" for="rem1" title="Remember your name in this web browser"><input type="checkbox" checked="true" id="rem1" onclick="remclick(this)"> Remember me</label></p>
<div id="button2" class="disabled">
<p>Then press the button to search for your cuddle:</p>
<button id="searchbtn" onclick="search()" disabled="true">Search</button>
</div>
<p id="searching">Searching for cuddle. Please wait...<br/>
<img id="ajax" src="/assets/ajax-loader.gif">
</p>
<p id="nocuddle">Sorry. Cuddle not found.</p>
<p id="console">Would you like a quick cuddle on the house? Click <a href="#" onclick="consolation()">here</a>.</p>
</div>
	
<div class="page" id="page3">
<img id="art3" src="/assets/Burt.jpg" title="Burt, a wise old bear"/>
<p id="label3">Delivering <span id="quick">quick</span> cuddle<span id="whofrom"</span>...</p>
<div id="hearts">
<img class="heart" id="heart0" src="/assets/heart.png">
<img class="heart" id="heart1" src="/assets/heart.png">
<img class="heart" id="heart2" src="/assets/heart.png">
<img class="heart" id="heart3" src="/assets/heart.png">
<img class="heart" id="heart4" src="/assets/heart.png">
<img class="heart" id="heart5" src="/assets/heart.png">
<img class="heart" id="heart6" src="/assets/heart.png">
<img class="heart" id="heart7" src="/assets/heart.png">
<img class="heart" id="heart8" src="/assets/heart.png">
<img class="heart" id="heart9" src="/assets/heart.png">
<img class="heart" id="heart10" src="/assets/heart.png">
<img class="heart" id="heart11" src="/assets/heart.png">
<img class="heart" id="heart12" src="/assets/heart.png">
<img class="heart" id="heart13" src="/assets/heart.png">
<img class="heart" id="heart14" src="/assets/heart.png">
<img class="heart" id="heart15" src="/assets/heart.png">
<img class="heart" id="heart16" src="/assets/heart.png">
<img class="heart" id="heart17" src="/assets/heart.png">
<img class="heart" id="heart18" src="/assets/heart.png">
<img class="heart" id="heart19" src="/assets/heart.png">
<div id="progress3"><div id="progbar3"></div></div>
</div>
<p id="done3"><strong>Cuddle delivered!</strong></p>
<p id="returnit">To send a cuddle<a id="returnto"></a> in return, click <a href="#" onclick="inreturn()">here</a>.</p>
<p id="newcuddle">To send someone a cuddle, click <a href="/cuddle">here</a>.</p>
</div>

<div id="information">
<div id="informationbox">
<h3>Privacy</h3>
<p>The Cuddle Button uses no cookies, and it does not share any data with other websites, not even with 7 Cups.</p>
<h3>Credits</h3>
<p>Design: @RarelyCharlie at 7 Cups.<br/>Artwork: @AmalieAnne at 7 Cups<br/>Handwriting font: Based on <i>Shadows Into Light Two</i> by Kimberly Geswein under the terms of the SIL Open Font License.</p>
<div id="informationclose" onclick="information(false)" title="Close">&times;</div>
</div>
</div>

</div>

<div id="footer"><div id="footer-content"><a href="#" onclick="information(true)" title="Privacy and credits">Information</a> &bull; <a href="https://www.7cups.com/@RarelyCharlie" title="Feedback to @RarelyCharlie at 7 Cups">Feedback</a><div id="credits">Artwork: <span class="sig">AmalieAnne</span></div></div></div>
</body>
</html>
