---
prefix: A simulated chat
layout: default
---
<style>#content {max-width: 800px;} iframe {margin: 20px 0;}</style>
<script>
init = () => {
	document.querySelector('iframe').setAttribute('srcdoc',
	  '<body style="margin: 0; overflow: hidden; cursor: pointer;" '
	   + 'onclick="window.top.postMessage(\'play\', \'*\')">'
	  + '<style>#play {opacity: 0;} div:hover #play {opacity: .95;}</style>'
	  + '<div style="width: 800px; height: 450px; background: #000; position: relative;" title="Play">'
	  + '<div id="play" style="width: 0; height: 0; border-top: 32px solid transparent; '
	    + 'border-bottom: 32px solid transparent; border-left: 60px solid #fff;'
	    + 'position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></div>'
	  + '<p style="color: #fff; text-align: center; position: absolute; top: 50%; left: 50%; margin: 0; padding: 0; '
	    + 'transform: translate(-50%, -50%); font-family: \'Work Sans\', sans-serif; '
	    + 'font-size: 30px; line-height: 30px; letter-spacing: -.75px;'
	    + '">A quick brown fox…</p>'
	  + '</div></body>'
	  )
	document.documentElement.style.display = 'initial'
	}

onmessage = () => {
	if (event.data != 'play') return
	var ifr = document.querySelector('iframe')
	ifr.removeAttribute('srcdoc')
	ifr.setAttribute('src', 'https://www.youtube.com/embed/h2VVCAP6WOc?autoplay=1&rel=0&modestbranding=1&vq=hd720')	
	}
</script>

<iframe width="800" height="450" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{{ content }}
