---
prefix: A simulated chat
layout: default
---
<style>#content {max-width: 800px;} iframe {margin: 20px 0;}</style>
<script>
init = () => {
	document.querySelector('iframe').setAttribute('srcdoc',
	  '<body style="margin: 0; overflow: hidden; cursor: pointer;" '
	   + 'onclick="window.top.postMessage(\'play\', \'*\')">'
	  + '<style>#play {opacity: 0;} div:hover #play {opacity: 1;}</style>'
	  + '<div style="width: 800px; height: 450px; background: #000; position: relative;" title="Play">'
	  + '<p style="color: #fff; text-align: center; position: absolute; top: 50%; left: 50%; margin: 0; padding: 0; '
	    + 'transform: translate(-50%, -50%); font-family: \'Work Sans\', sans-serif; '
	    + 'font-size: 30px; line-height: 30px; letter-spacing: -.75px;'
	    + '">{{ page.title }}</p>'
	  + '<div id="play" style="background: rgba(0, 0, 0, .5); border: 2px solid #fff; border-radius: 50%; '
	    + 'width: 80px; height: 80px;'
	    + 'position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">'
	  + '<div style="width: 0; height: 0; border-top: 20px solid transparent; '
	    + 'border-bottom: 20px solid transparent; border-left: 35px solid #fff;'
	    + 'position: absolute; top: 50%; left: 50%; transform: translate(-37%, -50%);"></div></div>'
	  + '</div></body>'
	  )
	document.documentElement.style.display = 'initial'
	}

onmessage = () => {
	if (event.data != 'play') return
	if (!video || video.host != 'Y') return
	var ifr = document.querySelector('iframe')
	ifr.removeAttribute('srcdoc')
	ifr.setAttribute('src', 'https://www.youtube.com/embed/' + video.id + '?autoplay=1&rel=0&modestbranding=1')	
	}
</script>

<iframe width="800" height="450" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{{ content }}
